@font-face {
  font-family: 'nova';
  src: url('../fonts/nova/Proxima Nova Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'nova';
  src: url('../fonts/nova/Proxima Nova Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'nova';
  src: url('../fonts/nova/Proxima Nova Bold.otf');
  font-weight: 700;
}