block variables

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="shortcut icon" href="./img/favicon.ico")
    link(rel='stylesheet' href='./css/cssLibs.css')
    link(rel='stylesheet' href='./css/main.css')
    script(src='./js/jsLibs.js')
    
    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->
  body
    include ./_mixin
    include ./_header
    .content__wrapper
      block content
    include ./_footer
    svg.hide__svg
        include ./../../sprite/symbol/sprite.svg
    script(src='./js/main.js')