.section__greating
  flex-direction: column
  align-items: left

.section__greating--title
  margin-bottom: 40px

.section__greating--text
  width: 80%
  margin-bottom: 25px

.section__name 
  .question__content--wrapper
    height: 65%

.button
  display: inline-block

.section__greating--button
  margin-top: 0

.section__role--table
  margin-top: 20px
  td
    padding: 10px 20px 10px 0

.section__role--table,.section__impression--item
  span
    color: $c-grey
  input
    margin-right: 10px
    &:checked + span 
      color: $c-text

.section__impression--list
  margin-top: 20px

.section__impression--item
  padding-bottom: 5px

.section__blogs--list
  padding: 20px 40px
  display: flex
  justify-content: space-between

.section__blogs--item
  color: $c-grey
  font-weight: bold
  padding: 15px
  &:hover
    color: $c-blue
    cursor: pointer

.question__form
  margin-bottom: 10px
  p
   display: none

.section__impression--list
  margin-top: 10px
  margin-left: 10px

.section__blogs--item.active
  color: $c-blue

.section__type--radio_and_comment
  .input__text--impression
    margin-bottom: 5px